* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columna{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 2760px;
    width: 120px;
    border-left: solid 1px rgb(0, 0, 0);
    border-right: solid 1px rgb(0, 0, 0);
}

/* .columna-1{
    border-left: none;
    animation-duration: 3s;
    animation-name: rotacion;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
    animation-iteration-count:3;
    animation-delay: 0;
} */

/* .columna-5{
    border-right: none;
} */


.marco {
    border: solid rgb(255, 255, 255) 6px;
    box-shadow: inset 0 0 60px rgb(255, 0, 0),
    0 0 100px rgb(55, 255, 0);
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction:row;
    text-align: center;
    justify-content: center;
    height: 372px;
    overflow: hidden;
}


.cuadrado{
    display: flex;
    background-color: rgba(255, 255, 255, 0.496);
    width: 120px;
    height: 120px;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.conteiner {
    padding: 5% 10%;
}


.boton-go{
    text-align: center;
    height: 50px;
    width: 200px;
}

.boton{
    text-align: center;
}

.credito{
    padding: 10px 50px;
    margin-top: 20px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;            /*centra en vertical*/
    justify-content: center;        /*centra en horizontal*/
}


.credito-boton{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 30px;
}

.cuadrado p{
    color: rgb(0, 0, 0);
    font-size: 60px;
}



.columna-1{
    border-left: none;
    animation-duration: 2s;
    animation-name: rotacion;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
    animation-iteration-count: 3;
    animation-delay: 0;
}
.columna-2{
    animation-duration: 2s;
    animation-name: rotacion;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
    animation-iteration-count: 4.95;
    animation-delay: 1.2s;
}
.columna-3{
    animation-duration: 2s;
    animation-name: rotacion;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
    animation-iteration-count: 5.5;
    animation-delay: 2.4s;
}
.columna-4{
    animation-duration: 2s;
    animation-name: rotacion;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
    animation-iteration-count: 6.95;
    animation-delay: 3.6s;
}
.columna-5{
    border-left: none;
    animation-duration: 2s;
    animation-name: rotacion;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
    animation-iteration-count: 7;
    animation-delay: 4.8s;
}


@keyframes rotacion {
    from {
        transform: translateY(-2400px);
    }
  
    to {
        transform: translateY(0px);
    }
  }





/* Reiniciar la animación cuando alcanza los 1200px hacia abajo */
/* @media (max-height: 0px) {
    .columna-1 {
        animation-delay: 1s;
        animation-duration: 5s;
        animation-name: rotacion;
        animation-timing-function:ease-in-out;
        animation-iteration-count: 0.5;
        animation-fill-mode: forwards;
        animation-delay: 0;
    }
} */